@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,600;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  z-index: 10;
  background: rgb(255, 255, 255);
}
header .logo {
  position: relative;
}
header .navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 10px 0;
}
header .navigation li {
  list-style: none;
  margin: 0 10px;
}
header .navigation li a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}
header .navigation li select {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  border-color: transparent;
  outline-color: transparent;
  -webkit-appearance: none;
}
header .navigation li a:hover{
  color: orange;
}
header .navigation li select:hover{
  color: orange;
}
header .navigation li select option{
  color: rgb(0, 0, 0);
}
header .search {
  position: relative;
  width: 300px;
  height: 40px;
}
header .search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000000;
  background: transparent;
  outline: none;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 0 10px 0 45px;
}
header .search input::placeholder{
  color: #000000;
}
header .search .fa-magnifying-glass {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #000000;
  border-right: 1px solid #000000;
  padding-right: 10px;
}
.banner {
  background: rgba(22, 150, 170, 0.676);
  padding: 80px 100px 0;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .content {
  max-width: 700px;
}
.banner .content h2 {
  font-size: 2.5em;
  color: #fff;
}
.banner .content p {
  font-size: 1em;
  color: #ffffffaf;
}
.banner .content button{
  position: relative;
  background: orange;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 35px;
  font-size: 1em;
  letter-spacing: 0.1em;
  margin-right: 20px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
.banner .content button.become{
  background: white;
  color: #000000;
}
.banner .image {
  margin-left: 50px;
}
@media (max-width: 991px){
  header {
    padding: 10px 20px;
    flex-direction: column;
  }
  .banner {
    padding: 150px 20px 50px;
    flex-direction: column-reverse;
  }
  .banner .image{
    margin-left: 0;
    max-width: 80%;
  }
  .banner .content h2 {
    font-size: 2em;
    color: #fff;
  }
}
@media (max-width: 600px){
  header .search{
    width: 100%;
  }
  .banner .image{
    margin-left: 0;
    max-width: 80%;
    margin-top: 30px;
  }
  .recommend-course,
  .most-popular,
  .trending{
    flex-direction: column;
  }
  .course-list h1 {
    text-align: center;
  }
}
.course-list h1 {
  margin-left: 40px;
}
/* Course list */
.recommend-course{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}
.recommend-course .card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.recommend-course .card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.recommend-course .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  height: 280px;
}

.recommend-course .tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.recommend-course .tag-teal {
  background-color: #47bcd4;
}
.recommend-course .tag-purple {
  background-color: #5e76bf;
}
.recommend-course .tag-pink {
  background-color: #cd5b9f;
}

.recommend-course .card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.recommend-course .card-body .card-infor{
  display: flex;
  margin-top: 10px;
}
.recommend-course .card-body .card-infor .fa-clock {
  font-size: 20px;
}
.recommend-course .card-body .card-infor p{
  padding-left: 10px;
  letter-spacing: 1px;
}
.recommend-course .card-body .price {
  display: flex;
  align-items: center;
}
.recommend-course .card-body .price .discount {
  font-weight: 500;
  font-size: 18px;
}
.recommend-course .card-body .price .unit-price {
  text-decoration: line-through;
  padding-left: 5px;
  font-weight: 500;
  font-size: 14px;
}
.recommend-course .user {
  display: flex;
  margin-top: auto;
}

.recommend-course .user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.recommend-course .user-info h5 {
  margin: 0;
}
.recommend-course .user-info small {
  color: #545d7a;
}
/* most popular */
.most-popular{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}
.most-popular .card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.most-popular .card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.most-popular .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  height: 280px;
}

.most-popular .tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.most-popular .tag-teal {
  background-color: #47bcd4;
}
.most-popular .tag-purple {
  background-color: #5e76bf;
}
.most-popular .tag-pink {
  background-color: #cd5b9f;
}

.most-popular .card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.most-popular .card-body .card-infor{
  display: flex;
  margin-top: 10px;
}
.most-popular .card-body .card-infor .fa-clock {
  font-size: 20px;
}
.most-popular .card-body .card-infor p{
  padding-left: 10px;
  letter-spacing: 1px;
}
.most-popular .card-body .price {
  display: flex;
  align-items: center;
}
.most-popular .card-body .price .discount {
  font-weight: 500;
  font-size: 18px;
}
.most-popular .card-body .price .unit-price {
  text-decoration: line-through;
  padding-left: 5px;
  font-weight: 500;
  font-size: 14px;
}
.most-popular .user {
  display: flex;
  margin-top: auto;
}

.most-popular .user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.most-popular .user-info h5 {
  margin: 0;
}
.most-popular .user-info small {
  color: #545d7a;
}
/* trending */
.trending{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}
.trending .card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.trending .card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.trending .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  height: 280px;
}

.trending .tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.trending .tag-teal {
  background-color: #47bcd4;
}
.trending .tag-purple {
  background-color: #5e76bf;
}
.trending .tag-pink {
  background-color: #cd5b9f;
}

.trending .card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.trending .card-body .card-infor{
  display: flex;
  margin-top: 10px;
}
.trending .card-body .card-infor .fa-clock {
  font-size: 20px;
}
.trending .card-body .card-infor p{
  padding-left: 10px;
  letter-spacing: 1px;
}
.trending .card-body .price {
  display: flex;
  align-items: center;
}
.trending .card-body .price .discount {
  font-weight: 500;
  font-size: 18px;
}
.trending .card-body .price .unit-price {
  text-decoration: line-through;
  padding-left: 5px;
  font-weight: 500;
  font-size: 14px;
}
.trending .user {
  display: flex;
  margin-top: auto;
}

.trending .user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.trending .user-info h5 {
  margin: 0;
}
.trending .user-info small {
  color: #545d7a;
}
/* footer */
footer{
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(117, 255, 117, 0.352);
  border-radius: 10px;
}
footer .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer .menu li{
  list-style: none;
}
footer .menu li{
  font-size: 1em;
  color: black;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .menu li a{
  color: black;
  text-decoration: none;
  display: inline-block;
  transition: 0.5s;
}
footer .menu li a:hover{
transform: translateY(-10px);
color: orange;
}